body{
    font-family: 'Merriweather', serif;
    margin:0;
    text-align: center;  
}
.top-container{
    background-color: #EAF6F6; 
}
 div.middle-container{
    
}
.bottom-container{
    background-color: #66BFBF;
    height: 120px;
} 
.skill-row{
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
}
h1{
    color:#66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.6rem;
    margin: 50px auto auto 0;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
a{
    color:#11999E;
}
span{
    text-decoration: underline;
}
img.cloud-1{
    margin: 2% 0 0 55%;
}
img.cloud-2{
    position: relative;
    bottom: 300px;
    left: 110px;
}
img.skills{
    height: 100px;
    float: left;
    margin-right:30px;
    margin-left: 30%;
}
img.skill-row-img{
     height: 100px;
     float: right;
     margin-left: 30px;
     margin-right: 30%;
}
img.hello-img{
     height: 100px;
     margin-top: 2%;
}
.about{
    color:#40514E;
    width: 30%;
    margin: auto;
}
hr{
    border-style: dotted none none none;
    border-width: 5px;
    width: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn {
  background: #34d97b;
  background-image: -webkit-linear-gradient(top, #34d97b, #2bb878);
  background-image: -moz-linear-gradient(top, #34d97b, #2bb878);
  background-image: -ms-linear-gradient(top, #34d97b, #2bb878);
  background-image: -o-linear-gradient(top, #34d97b, #2bb878);
  background-image: linear-gradient(to bottom, #34d97b, #2bb878);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin-bottom: 30%;
}

.btn:hover {
  background: #89fc3c;
  background-image: -webkit-linear-gradient(top, #89fc3c, #34d94d);
  background-image: -moz-linear-gradient(top, #89fc3c, #34d94d);
  background-image: -ms-linear-gradient(top, #89fc3c, #34d94d);
  background-image: -o-linear-gradient(top, #89fc3c, #34d94d);
  background-image: linear-gradient(to bottom, #89fc3c, #34d94d);
  text-decoration: none;
}
.copyright{
    margin-bottom: 0;
    color: #EAF6F6;
    margin-top: 40px;
    font-size: 0.75rem;
}
.footer-link{
    position: relative;
    top: 20px;
    padding: 15px;
    text-decoration: none;
    color: #11999E;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
.audience{
    height: 50px;
}
a:hover{
    color:#fff
}
.design{
    width:30%;
    margin-left: 40%;
    margin-top: 0;
}
.audience-header{
    margin-left:30%;
}
.p-2{
    margin-left: 30%;
    width:30%;
}
